body {
    background-color: lightgray;
    font-family: Arial;
    text-align: center;
}

#matricForm {
    background-color: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input {
    width: 250px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#btnSubmit {
    background-color: green;
    color: white;
    width: 100px;
    padding: 8px;
    cursor: pointer;
}